{% extends 'base.html' %}
{% load static %}

{% block body %}

        <ul>
          {% for post in object_list %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top"  src="{{ post.pst }}" alt="Card image cap">
                <div class="card-body">
                <p class="card-text"><div class="media-body">
                <h2 class="account-heading">{{post.username}}</h2>
                </div>.</p>
                </div>
                </div>
                <h1><p class="text-secondary">{{post.email}}</p>
                <p class="text-secondary">{{user.City}}</p></h1>
            </div>
            <li><a href ="{% url 'articledetail' post.pk %}" >{{post.title}} </a>
            {{post.city}}</li>
          {% endfor %}
        </ul>

{% endblock %}